@font-face {
  font-family: 'Open Sans L';
  src: url('../assets/fonts/open-sans-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans R';
  src: url('../assets/fonts/open-sans-regular.ttf') format('truetype');
}

$paragraph-family: 'Open Sans L', Arial, Helvetica, sans-serif !default;
$heading-family: "Open Sans R", Arial, Helvetica, sans-serif !default;

body {
  font-family: $paragraph-family;
}

h1, a, button, input {
  font-family: $heading-family;
}
