html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100%;
  position: relative;
  overflow-x: auto;
  display: flex;
}

.app > div {
  flex: 1 1 100%;
}

h1, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  border: 0;

  &:focus {
    outline: none;
  }
}
