$hippie-orange: #ffad33 !default;
$deep-orange: #ff9900 !default;
$lemon-chiffon: #ffffcc !default;

$mobile: "(max-width: 479px)";
$tablet: "(min-width: 480px)";
$desktop: "(min-width: 992px)";
$large-desktop: "(min-width: 1200px)";
