@import '../variables';

.home-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-page-content {
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.warning {
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  p {
    text-align: center;
  }
}